{% if timify_id != '' and timify_widget_position == 'as_block' %}

  <button class="timify-button" data-id="{{ timify_id }}" style="height: 40px; background: #ca3b43; color: #fff; font-size: 14px; font-weight: normal; text-transform: uppercase; border: 0; padding: 0 15px; cursor: pointer; border-radius: 3px;">
     {{ timify_widget_button_label }}
  </button>

{% endif %}
